
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


#main-page {
  max-width: 990px;
  margin: 0 auto;
  border-bottom: 1px solid #2d2d2d;
}

.ws-header {
  display: block;
}
.ws-header_logo {
  display: block;
  margin: 23px auto 12px;
}
.topnav {
  margin: 0 auto;
  max-width: 990px;
}
.topnav_ul {
  font-size: 0;
  list-style: none;
  padding: 0;
}
.topnav_ul li {
  display: inline-block;
  height: 30px;
}
.topnav_ul li a {
  background-color: #2d2d2d;
  color: #ffffff;
  display: block;
  font-size: 10px;
  letter-spacing: 0.7px;
  padding: 0 10px 0 11px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
}
.topnav_ul li a:hover {
  background-color: #efefef;
  color: #2d2d2d;
}
.topnav_ul li:last-of-type a{
  background-color: #003b5c;
  border-left: 1px solid white;
}
.breadcrumbs_ul {
  font-size: 0;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}
.breadcrumbs_ul li {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs_ul li:last-of-type a{
  color: #2d2d2d;
}
.breadcrumbs_ul li:last-of-type a:after{
  content:" ";
  float: left;
}
.breadcrumbs_ul li a{
  color: #808080;
  display: block;
  font-size: 11px;
  text-decoration: none;
}
.breadcrumbs_ul li a:hover span{
  text-decoration: underline;
}
.breadcrumbs_ul li a:after {
  color: #808080;
  content: ">";
  margin-left: 5px;
}
.product {
  margin-top: 16px;
}
.product_img {
  width: 590px;
  display: inline-block;
}
.product_img img {
  margin: 0 auto;
  display: block;
}
.product_previews {
  cursor: pointer;
  padding-left: 70px;
  font-size:0;
  margin-bottom: 40px;
}
.product_previews_img {
  height: 94px;
  width: 94px;
  display: inline-block;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
.product_previews_img:hover {
  border: 2px solid #808080;
}
.product_previews_img.highlight {
  border: 2px solid #000000;
}
.product_info {
  width: 400px;
  float: right;
}
.product_title {
  font-family: "Times New Roman",Georgia,serif;
  font-size: 20px;
}
.product_desc {
  margin-top: 10px;
  color: #808080;
  font-size: 12px;
  letter-spacing: 0.59px;
  line-height: 18px;
}
.product_features {
  color: #808080;
}
.product_features li {
  font-size: 20px;
  line-height: 18px;   
}
.product_features li span {
  font-size: 14px;
}
.product_price {
  font-size: 21px;
}
.product_qty::-webkit-inner-spin-button {
  opacity: 1
}
.product_qty {
  width: 54px;
  height: 34px;
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
}
.add-to-cart {
  display: block;
  margin-top: 18px;
}
.info-accordion {
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
}
.accordion-btn {
  background-color: unset;
  border-style: none;
  cursor: pointer;
  font-family: initial;
  font-size: 16px;
  outline: none;
  text-align: left;
  text-transform: uppercase;
  transition: 0.4s;
  padding: 18px;
  width: 100%;

}

.accordion-btn:hover {
  background-color: #808080;
  color: #ffffff;
}
.accordion-btn:hover:before {
  color: #ffffff;
}

.accordion-btn:before {
  content: '\25B8';
  color: #808080;
  font-weight: bold;
  font-family: initial;
  margin-right: 10px;
  transition: 0.4s;
}
.active-btn:before {
  content: "\25BE";
}

.accordion-panel {
  border-bottom: 1px solid #808080;
  font-size: 13px;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

footer {
  background-color: #efefef;
  height: 40px;
}

/*   Helper classes   */
.hidden {
  display: none !important;
  visibility: hidden;
}

.sans-font {
  font-family: Flama-4n,Flama,Helvetica,Arial,sans-serif;
}

